* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-image: url(./media/François_Lemoyne_-_L\'Apothéose_d\'Hercule_-_Google_Art_Project.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    color: black;
}

header {
    width: 100%;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px rgb(255, 255, 255) solid;
    justify-content: space-around;
}

.menu-hamburger {
    display: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    font-family: 'Playfair Display', serif ;
    font-weight: 600;
    font-size: 1.5em;
    position: relative;
    width: 25%;
    color: white;
    height: 45px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-around;

    
}

.nav-links ul li a {
    font-family: 'Playfair Display', serif ;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    backdrop-filter: blur(1.5rem);
}

.reseau {
    display: flex;
}

.reseau a img{
    height: 40px;
    width: 40px;
}


/* container */ 

.container {
    display: flex;
    width: 100%;
}

.item {
    display: flex;
    align-items: flex-end;
    height: 90vh;
    position: absolute;
    bottom: 28px;
    left: 0;
    right: 0;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    flex-wrap: wrap;}

.section {
    width: 100%;
}

.text {
    font-family: 'Playfair Display', serif ;
    font-size: 2rem;
    color: white;
    margin-bottom: -2vw;
    display: flex;
}

.text .bottm-text {
    font-family: "aNTON" , sans-serif;
    font-size: 4em;
    line-height: 1;
}

.top-title {
    font-size: 1.875rem;
    font-size: 2.1vw;
    margin-left: 0.4vw;
    margin-bottom: -1vw;
}

.content {
    height: 50%;
    max-width: 666px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: white;
}

.content p {
    font-family: 'Poppins' , sans-serif;
    font-size: 25px;
}

.content button {
    position: relative;
    height: 60px;
    width: 120px;
    background: none;
    border: 2px white solid;
    border-radius: 3px;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.content button::before {
    content: "";
    height: 100%;
    width: 120px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    z-index: -1;
    width: 0;
    transition: all 1s ease-in-out;
}

.content button:hover::before {
    width: 100%;
}

.mid {
    height: 50vh;
}




:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;
}

#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
    font-family: 'Poppins';
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

	@scroll-timeline cards-element-scrolls-in-body {
		source: selector(body);
		scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
			selector(#cards) start 1,
			/* End when the start edge touches the start of the scrollport */
			selector(#cards) start 0
		;
		start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
		end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
		time-range: 4s;
	}

	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}
	
	.card__content {
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}

/** DEBUG **/

#debug {
  position: fixed;
  top: 1em;
  left: 1em;
}
#debug::after {
  content: " Show Debug";
  margin-left: 1.5em;
  color: white;
  white-space: nowrap;
}

#debug:checked ~ main {
  --outline-width: 1px;
}


/** PAGE STYLING **/

* { /* Poor Man's Reset */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


main {
	width: 100%;
	margin: 0 auto;
    background: black;
    padding-top: 10%;
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}

.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
    padding: 10px;
    height: 300px;
    margin-bottom: 1000px;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.btn {
	color: rgb(255 255 255);
    background-color: rgb(255, 47, 0);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
}

aside {
	width: 50vw;
	margin: 0 auto;
	text-align: left;
}

aside p {
	margin-bottom: 1em;
}

@media screen and (max-width:1300px) {
    .content {
        width: 90%;
        justify-content: end;
        float: left;
    }
}


@media screen and (max-width:1000px) {
    nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 100%;
        width: 40%;
        border-right: 1px beige solid;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all ease-in-out 0.4s;
        background-color: rgba(245, 245, 220, 0.667);
        color: lightgray;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .nav-links ul li {
        display: flex;
        flex-direction: column;
    }

    .nav-links ul li a {
        margin: 50px 0;
        border-bottom: 1px beige solid;
        padding-bottom: 5px;
        color: rgb(53, 53, 53);
    }

    .reseau {
        display: flex;
        flex-direction: column;

    }

    .reseau img {
        margin: 20px 0;
    }

    .menu-hamburger {
        position: absolute;
        top: 5px;
        left: 50%;
        display: flex;
        font-family:  'Playfair Display', serif;
        color: white;
    }

    .mobile-menu {
        margin-left: 0;
    }


    
}

@media screen and (max-width:767px) {
    .content {
        padding-top: 20px;
    }

    .text .bottm-text {
        font-size: 2em;
    }

    .content p {
        font-size: 15px;
        margin-top: 50px;
    }


}

@media screen and (max-width: 414px) {
    .top-title {
        margin-bottom: -5vw;
    }
}

@media screen and (max-width: 480px) {
.top-title {
    margin-bottom: -4vw;
}


}

@media screen and (max-width:688px) {
    .text {
        margin-top: 100px;
    }
}